p {
	text-transform: uppercase;
	letter-spacing: 0.5em;
	display: block;
	border: 4px double rgba(255, 255, 255, 0.25);
	border-width: 4px 0;

	top: 10%;

	width: 40em;

	text-align: center;
}
p span {
	font: 700 4em/1 'Oswald', sans-serif;
	letter-spacing: 0;

	display: block;

	text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
	/* Clip Background Image */
	background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
		repeat-y;
	-webkit-background-clip: text;
	background-clip: text;
	/* Animate Background Image */
	-webkit-text-fill-color: transparent;
	animation: aitf 80s linear infinite;
	/* Activate hardware acceleration for smoother animations */
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

/* Animate Background Image */
@keyframes aitf {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@media (max-width: 600px) {
	p {
		font-size: 9px;
	}
}
.container {
}
